<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/header') %>
    <%- include('block/face') %>
    <%- include('block/ingredients') %>
    <%- include('block/why') %>
    <%- include('block/script') %>
</body>

</html>